<button type="button" class="btn btn-primary" (click)="showParentModal()">Create Invoice</button>

<div bsModal #parentModal="bs-modal" [config]="{ignoreBackdropClick: true, keyboard: false}" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Create Invoice</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="hideParentModal(invoiceForm)">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #invoiceForm="ngForm" (ngSubmit)="createInvoice(invoiceForm)">
                    <div class="card mt-2">
                        <div class="card-header bg-primary">
                            <h3 class="card-title text-white">Invoice Form</h3>
                        </div>

                        <div class="card-body position-relative">

                            <div class="mb-4">
                                <span
                                    class="badge bg-success rounded-pill position-absolute top-0 end-0 mt-2 me-2 px-3 py-2 fs-6">
                                    {{invoice.dateInserted | date:'cccc, dd LLLL YYYY, HH:mm a' }}
                                </span>
                            </div>

                            <div class="mb-3">
                                <label for="invoiceCode" class="form-label">Invoice Code</label>
                                <input type="text" [(ngModel)]="invoice.code" class="form-control" id="invoiceCode"
                                    name="invoiceCode" required #invoiceCodeControl="ngModel" />
                                <div class="invalid-feedback">Please provide a valid Invoice Code</div>
                            </div>

                            <div class="mb-4">
                                <label class="form-label d-block">Transaction Type</label>
                                <div class="btn-group w-100" role="group">
                                    <button type="button" class="btn btn-outline-primary" (click)="selectType('Credit')"
                                        [class.active]="isCredit && transactionTouched">
                                        Credit
                                    </button>
                                    <button type="button" class="btn btn-outline-primary" (click)="selectType('Debit')"
                                        [class.active]="isDebit && transactionTouched">
                                        Debit
                                    </button>
                                </div>
                            </div>

                            @if(transactionTouched){

                            <div class="mb-3">
                                <label class="form-label">
                                    {{ isCredit ? 'Credit Account' : 'Debit Account' }}
                                </label>
                                <div class="input-group">
                                    @if(isCredit){
                                    <input type="text" class="form-control" [ngModel]="invoice.creditAccount.name"
                                        readonly placeholder="Select Credit Account" name="creditAccount"
                                        id="creditAccount" #creditAccountControl="ngModel">
                                    }
                                    @else{
                                    <input type="text" class="form-control" [ngModel]="invoice.debitAccount.name"
                                        readonly placeholder="Select Debit Account" name="debitAccount"
                                        id="debitAccount" #debitAccountControl="ngModel">
                                    }
                                    <button class="btn btn-primary" type="button" [disabled]="!transactionTouched"
                                        (click)="isCredit ? showCreditAccountsModal() : showDebitAccountsModal()">
                                        <i class="bi bi-search"></i> Browse
                                    </button>
                                </div>
                                <div id="accountHelp" class="form-text">
                                    Click <b>Browse</b> to select an account.
                                </div>
                            </div>
                            }

                            <div class="mb-3">
                                <label class="form-label">Amount</label>
                                <div class="input-group has-validation">
                                    @if(invoice?.creditAccount?.currency?.symbol ||
                                    invoice?.debitAccount?.currency?.symbol){

                                    <span class="input-group-text">
                                        {{invoice.creditAccount.currency?.symbol}}{{invoice.debitAccount.currency?.symbol}}
                                    </span>
                                    }

                                    <input type="number" class="form-control" [(ngModel)]="this.invoice.totalAmount"
                                        placeholder="Please enter the invoice amount" name="amount" required step="0.01"
                                        #amountControl="ngModel">
                                    <span class="input-group-text">Exchange Rate</span>
                                    <input type="number" class="form-control" [(ngModel)]="this.invoice.exchangeRate"
                                        placeholder="Please enter exchange rate" name="exchangeRate" required
                                        step="0.01" #exchangeRateControl="ngModel">
                                    <div class="invalid-feedback">
                                        Please enter a valid amount
                                    </div>
                                </div>
                                <div id="amountHelp" class="form-text">
                                    Supply the amount of the transaction (cannot be zero)
                                </div>
                            </div>

                            <div class="mb-3 col-md-5">
                                <label for="invoiceIssueDate" class="form-label">Invoice Issue Date</label>
                                <input type="text" bsDatepicker [(ngModel)]="invoice.issueDate" required
                                    [bsConfig]="datepickerConfig" class="form-control" id="invoiceIssueDate"
                                    placeholder="Please select a Date" name="invoiceIssueDate" placement="right" />
                            </div>

                            <div class="d-flex gap-2 mb-2">

                                <button type="submit" class="btn btn-primary" [disabled]="invoiceForm.invalid">
                                    Save
                                </button>
                                <button (click)="resetForm()" type="button" class="btn btn-warning"
                                    [hidden]="!invoiceForm.dirty">
                                    <i class="bi bi-arrow-counterclockwise"></i> Reset
                                </button>
                            </div>

                            <hr>
                            @if(invoiceItems.length > 0){
                            <div class="mb-3">
                                <form action="">
                                    <h5 class="form-label">Saved Invoices</h5>
                                    <div class="rounded-3 overflow-hidden border">
                                        <table class="table table-hover table-striped mb-0">
                                            <thead class="table-primary">
                                                <tr>
                                                    <th>#</th>
                                                    <th class="text-center">Invoice Code</th>
                                                    <th>Type</th>
                                                    <th>Account Name</th>
                                                    <th class="text-center">Amount</th>
                                                    <th class="text-center">Exchange Rate</th>
                                                    <th class="text-center">Issue Date</th>
                                                    <th class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                @for(invoice of invoiceItems; track invoice.id; let i = $index; let last
                                                = $last){
                                                <tr (click)="onInvoiceSelect(invoice)" style="cursor: pointer;">
                                                    <td [class.rounded-bottom-start]="last">{{ i + 1 }}</td>
                                                    <td class="text-center">{{ invoice.code }}</td>
                                                    <td>{{ invoice.type }}</td>
                                                    <td>{{ invoice.creditAccount?.name }}{{ invoice.debitAccount?.name
                                                        }}
                                                    </td>
                                                    <td class="text-center">{{ invoice.totalAmount
                                                        }}{{invoice.creditAccount.currency?.symbol}}{{invoice.debitAccount.currency?.symbol}}
                                                    </td>
                                                    <td class="text-center">{{ invoice.exchangeRate }}</td>
                                                    <td class="text-center">{{ invoice.issueDate | date:'cccc, dd LLLL
                                                        YYYY,
                                                        HH:mm a'}}</td>
                                                    <td [class.rounded-bottom-end]="last"><i
                                                            (click)="deleteInvoice($event,invoice)"
                                                            class="bi bi-trash-fill text-danger"></i>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                </form>
                            </div>
                            }

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">{{ isCredit ? 'Credit Account' : 'Debit
                    Account' }}</h4>
                <button type="button" class="close pull-right btn-close" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center">Account Code</th>
                            <th>Name</th>
                            <th class="text-center">Balance</th>
                            <th class="text-center">Currency</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @for(account of accountItems; track account.id; let i = $index){
                        <tr (click)="onTableSelect(account)" style="cursor: pointer;"
                            class="bg-light shadow-sm rounded">
                            <td>{{ i + 1 }}</td>
                            <td class="text-center">{{ account.code }}</td>
                            <td>{{ account.name }}</td>
                            <td class="text-center">{{ account.balance }}</td>
                            <td class="text-center">{{ account.currency.symbol }}</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>