<button type="button" class="btn btn-primary" (click)="openModal(template)">Create Invoice</button>
<br>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create Invoice</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio obcaecati vitae, aliquid quas ea
        vero sit eos debitis, expedita nisi nostrum fuga reprehenderit ipsam consequuntur tenetur ratione quia sapiente.
        At omnis temporibus officiis molestias nostrum debitis quis repellendus autem quam voluptas officia pariatur
        exercitationem vel fugiat, illo iure asperiores. Sint ipsam neque eveniet, odit provident sed temporibus
        inventore itaque.
        Sint eligendi aliquid libero fuga quidem corrupti, facere atque dicta inventore itaque numquam perspiciatis quis
        distinctio necessitatibus nihil commodi quisquam officiis illo asperiores consectetur accusantium. Non commodi
        ex repellendus expedita.
        Debitis laudantium et eaque perspiciatis autem architecto at beatae praesentium dignissimos hic doloribus
        aliquam animi, nam totam amet a placeat earum sequi? Recusandae obcaecati aspernatur modi quam expedita natus!
        Fugit.
        Facilis, minima! Dicta quam expedita voluptas perferendis nobis quibusdam excepturi atque blanditiis veritatis
        facilis dolore consequatur, commodi delectus enim odio minus voluptatibus aperiam ipsum odit. Aperiam harum
        exercitationem quisquam officiis?
    </div>
</ng-template>